/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Audiowide', sans-serif;
    color: #fff;
    background-color: #0d0d0d;
    
}

/* Video background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centered content */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
}

/* Button styles */
.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #AD49E1;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(255, 0, 255, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #EBD3F8;
    transform: translateY(-2px);
    color: black;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s;
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 1);
    
    
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    color: #AD49E1;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.3s;
    cursor: pointer;
}

.navbar-brand:hover {
    color: #EBD3F8;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.navbar-menu li a {
    font-family: 'Audiowide', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s, padding 0.3s;
}

.navbar-menu li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #7A1CAC;
    bottom: -3px;
    left: 0;
    transition: width 0.3s;
}

.navbar-menu li a:hover {
    color: #EBD3F8;
    padding-left: 10px;
}

.navbar-menu li a:hover::before {
    width: 100%;
}

.navbar-toggle {
    display: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .navbar-menu li {
        text-align: center;
        padding: 10px 30px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu.active {
        display: flex;
    }
}
